{% extends "base.html" %}
{% block title %}Finanzas 365 | Cliente: {{ client.username }}{% endblock title %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
		   		<h3 class="panel-title">{{client.username}} <a href="{% url 'client_update' client.id %}">Editar</a></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li><strong>Fecha de alta:</strong> {{client.date_joined}}</li>
					<li><strong>URL ventas: </strong> http://{{f365_url}}:8888/api/transactions/sales?key={{client.key}}</li>
					<li><strong>URL compras/gastos: </strong> http://{{f365_url}}:8888/api/transactions/comprasgastos?key={{client.key}}</li>
					{% if zetaclient %}
					<h4>Informacion de Zetalibra</h4>
					<li><strong>ID Empresa: </strong>{{zetaclient.empresa_id}}</li>
					<a class="btn btn-success" href="{% url 'zetaclient_update' zetaclient.id %}">Editar datos de Zetalibra</a>
					{% else %}
					<a class="btn btn-success" href="{% url 'client_zetaclient_new' client.id %}">Agregar datos de Zetalibra</a>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
