{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<h1>Editando <strong>{{ client.username }}</strong></h1>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			{% include "clients/clients_form.html" %}
		</div>
	</div>
</div>

{% endblock content %}