{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Clientes</h1>
<a class="btn btn-success" href="{% url 'client_new' %}">Crear nuevo</a>
<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
{% if clients_list %}
    <table class="table">
    	<tr>
    		<th>Nombre</th>
    	</tr>
        {% for client in clients_list %}
        <tr>
            <td><a href="{% url 'client_detail' client.id %}">{{ client.username }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<p>No hay clientes.</p>
{% endif %}
	</div>
</div>
{% endblock content %}