{% extends "base.html" %}
{% block title %}Finanzas 365 | Cliente: {{ zclient.username }}{% endblock title %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
		   		<h3 class="panel-title">{{zclient.name}} <a href="{% url 'zetaclient_update' zclient.id %}">Editar</a></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>Zetalibra empid: {{zclient.empresa_id}}</li>
					<li>Zetalibra empkey: {{zclient.empresa_key}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock content %}