{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Clientes Zetalibra</h1>
<a class="btn btn-success" href="{% url 'zetaclient_new' %}">Crear nuevo</a>
<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
{% if zclients_list %}
    <table class="table">
    	<tr>
    		<th>Nombre</th>
    	</tr>
        {% for zclient in zclients_list %}
        <tr>
            <td><a href="{% url 'zetaclient_detail' zclient.id %}">{{ zclient.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<p>No hay clientes Zetalibra.</p>
{% endif %}
	</div>
</div>
{% endblock content %}
