{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			{% if not user.is_authenticated %}
			<div class="panel panel-primary">
				<div class="panel-heading">
		    		<h3 class="panel-title">Login</h3>
		  		</div>
		  		<div class="panel-body">
					<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
						<button type="submit">Login</button>
					</form>
				</div>
			</div>
			{% else %}
			<h1>Ya estás logueado.</h1>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}